.about {
  display: flex;
  margin: 44px 14px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 44px;
}

.title {
  font-size: 30px;
  margin-bottom: 24px;
}

.innerAbout {
  flex: 1;
  line-height: 1;
  color: #fff;

  p {
    margin-bottom: 16px;
    white-space: pre-line;
  }

  h1 {
    margin: 24px 0 12px 0;
    font-weight: bold;
  }

  ul,
  ol {
    margin: 16px 0;
    padding-left: 24px;
  }
}
.bannerAbout {
  position: relative;
  width: 600px;
  max-width: 400px;
  height: 360px;
}

.imageAbout {
  object-fit: cover;
  border-radius: 8px;
  width: 300px;
  height: 300px;
}

.TitleAbout {
  font-size: 24px;
  margin-bottom: 16px;
  color: #ffff;
}

.p {
  color: #ffff;
}
@media (min-width: 640px) {
  .about {
    flex-direction: row;
    gap: 54px;
  }

  .bannerAbout {
    flex: 1;
  }
}
