.main {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.containerHero {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  z-index: 10;
}

.title {
  font-size: 30px;
  color: #fff;
  margin-bottom: 14px;
  text-align: center;
  font-weight: bold;
}

.contentBanner {
  background-color: #000;
  width: 100%;
  position: relative;
  height: 480px;
}

.banner {
  width: 100%;
  object-fit: cover;
  position: relative;
  opacity: 0.5;
  background: fixed;
}

@media (min-width: 640px) {
  .title {
    font-size: 40px;
    max-width: 600px;
  }
}
