.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 84px 0 14px 0;
}

.section {
  width: 90%;
  background-color: #ffff;
  padding: 30px 14px;
  border-radius: 14px;
  z-index: 20;
}

.title {
  text-align: center;
  color: #223057;
  font-size: 30px;
  margin-bottom: 24px;
}

.content {
  color: #223057;
  display: grid;
  gap: 14px;
  padding: 14px 30px;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
}

.item {
  display: flex;
  gap: 14px;
  align-items: center;
}

.copyText {
  margin-top: 64px;
  color: #fff;
  font-size: 14px;
}

@media (min-width: 640px) {
  .content {
    grid-template-columns: 1fr 1fr;
  }
}
